page-home {
    
        

    
    ion-header{

        text-align: center;
        
    }
    ion-content{
        background-image:url('https://cdn.pixabay.com/photo/2016/05/20/20/20/weather-1405870_960_720.png');
        background-repeat: no-repeat;
        background-size: cover;
        
    }

}
